openapi: 3.0.3
info:
  title: Mage AI Studio API
  description: ''
  version: 1.0.0
servers:
  -
    url: 'https://api.dudeisland.eu'
paths:
  /api/v1/model-files:
    get:
      summary: 'Fetch zero to many JSON API resources.'
      operationId: fetchZeroToManyJSONAPIResources
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
      responses:
        406:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'The requested resource is capable of generating only content not acceptable according to the Accept headers sent in the request.'
                  exception: LaravelJsonApi\Laravel\Exceptions\HttpNotAcceptableException
                  file: /www/api/vendor/laravel-json-api/laravel/src/Http/Requests/ResourceQuery.php
                  line: 338
                  trace:
                    -
                      file: /www/api/vendor/laravel-json-api/laravel/src/Http/Requests/ResourceQuery.php
                      line: 287
                      function: notAcceptable
                      class: LaravelJsonApi\Laravel\Http\Requests\ResourceQuery
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Validation/ValidatesWhenResolvedTrait.php
                      line: 19
                      function: prepareForValidation
                      class: LaravelJsonApi\Laravel\Http\Requests\ResourceQuery
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Foundation/Providers/FormRequestServiceProvider.php
                      line: 30
                      function: validateResolved
                      class: Illuminate\Foundation\Http\FormRequest
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Container/Container.php
                      line: 1302
                      function: 'Illuminate\Foundation\Providers\{closure}'
                      class: Illuminate\Foundation\Providers\FormRequestServiceProvider
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Container/Container.php
                      line: 1266
                      function: fireCallbackArray
                      class: Illuminate\Container\Container
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Container/Container.php
                      line: 1252
                      function: fireAfterResolvingCallbacks
                      class: Illuminate\Container\Container
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Container/Container.php
                      line: 813
                      function: fireResolvingCallbacks
                      class: Illuminate\Container\Container
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Foundation/Application.php
                      line: 933
                      function: resolve
                      class: Illuminate\Container\Container
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Container/Container.php
                      line: 731
                      function: resolve
                      class: Illuminate\Foundation\Application
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Foundation/Application.php
                      line: 918
                      function: make
                      class: Illuminate\Container\Container
                      type: '->'
                    -
                      file: /www/api/vendor/laravel-json-api/laravel/src/Http/Requests/RequestResolver.php
                      line: 111
                      function: make
                      class: Illuminate\Foundation\Application
                      type: '->'
                    -
                      file: /www/api/vendor/laravel-json-api/laravel/src/Http/Requests/ResourceQuery.php
                      line: 84
                      function: __invoke
                      class: LaravelJsonApi\Laravel\Http\Requests\RequestResolver
                      type: '->'
                    -
                      file: /www/api/vendor/laravel-json-api/laravel/src/Http/Controllers/Actions/FetchMany.php
                      line: 41
                      function: queryMany
                      class: LaravelJsonApi\Laravel\Http\Requests\ResourceQuery
                      type: '::'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Routing/Controller.php
                      line: 54
                      function: index
                      class: LaravelJsonApi\Laravel\Http\Controllers\JsonApiController
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Routing/ControllerDispatcher.php
                      line: 43
                      function: callAction
                      class: Illuminate\Routing\Controller
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Routing/Route.php
                      line: 259
                      function: dispatch
                      class: Illuminate\Routing\ControllerDispatcher
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Routing/Route.php
                      line: 205
                      function: runController
                      class: Illuminate\Routing\Route
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                      line: 799
                      function: run
                      class: Illuminate\Routing\Route
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 141
                      function: 'Illuminate\Routing\{closure}'
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: /www/api/vendor/laravel-json-api/laravel/src/Http/Middleware/BootJsonApi.php
                      line: 105
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 180
                      function: handle
                      class: LaravelJsonApi\Laravel\Http\Middleware\BootJsonApi
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Routing/Middleware/SubstituteBindings.php
                      line: 50
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 180
                      function: handle
                      class: Illuminate\Routing\Middleware\SubstituteBindings
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Routing/Middleware/ThrottleRequests.php
                      line: 159
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Routing/Middleware/ThrottleRequests.php
                      line: 90
                      function: handleRequest
                      class: Illuminate\Routing\Middleware\ThrottleRequests
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 180
                      function: handle
                      class: Illuminate\Routing\Middleware\ThrottleRequests
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 116
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                      line: 798
                      function: then
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                      line: 777
                      function: runRouteWithinStack
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                      line: 741
                      function: runRoute
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                      line: 730
                      function: dispatchToRoute
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Foundation/Http/Kernel.php
                      line: 200
                      function: dispatch
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 141
                      function: 'Illuminate\Foundation\Http\{closure}'
                      class: Illuminate\Foundation\Http\Kernel
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/TransformsRequest.php
                      line: 21
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/ConvertEmptyStringsToNull.php
                      line: 31
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 180
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\ConvertEmptyStringsToNull
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/TransformsRequest.php
                      line: 21
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/TrimStrings.php
                      line: 40
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 180
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\TrimStrings
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/ValidatePostSize.php
                      line: 27
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 180
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\ValidatePostSize
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/PreventRequestsDuringMaintenance.php
                      line: 86
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 180
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\PreventRequestsDuringMaintenance
                      type: '->'
                    -
                      file: /www/api/vendor/fruitcake/laravel-cors/src/HandleCors.php
                      line: 52
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 180
                      function: handle
                      class: Fruitcake\Cors\HandleCors
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Http/Middleware/TrustProxies.php
                      line: 39
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 180
                      function: handle
                      class: Illuminate\Http\Middleware\TrustProxies
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 116
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Foundation/Http/Kernel.php
                      line: 175
                      function: then
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Foundation/Http/Kernel.php
                      line: 144
                      function: sendRequestThroughRouter
                      class: Illuminate\Foundation\Http\Kernel
                      type: '->'
                    -
                      file: /www/api/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                      line: 299
                      function: handle
                      class: Illuminate\Foundation\Http\Kernel
                      type: '->'
                    -
                      file: /www/api/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                      line: 287
                      function: callLaravelOrLumenRoute
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: /www/api/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                      line: 92
                      function: makeApiCall
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: /www/api/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                      line: 45
                      function: makeResponseCall
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: /www/api/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                      line: 35
                      function: makeResponseCallIfConditionsPass
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: /www/api/vendor/knuckleswtf/scribe/src/Extracting/Extractor.php
                      line: 209
                      function: __invoke
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: /www/api/vendor/knuckleswtf/scribe/src/Extracting/Extractor.php
                      line: 163
                      function: iterateThroughStrategies
                      class: Knuckles\Scribe\Extracting\Extractor
                      type: '->'
                    -
                      file: /www/api/vendor/knuckleswtf/scribe/src/Extracting/Extractor.php
                      line: 95
                      function: fetchResponses
                      class: Knuckles\Scribe\Extracting\Extractor
                      type: '->'
                    -
                      file: /www/api/vendor/knuckleswtf/scribe/src/GroupedEndpoints/GroupedEndpointsFromApp.php
                      line: 124
                      function: processRoute
                      class: Knuckles\Scribe\Extracting\Extractor
                      type: '->'
                    -
                      file: /www/api/vendor/knuckleswtf/scribe/src/GroupedEndpoints/GroupedEndpointsFromApp.php
                      line: 71
                      function: extractEndpointsInfoFromLaravelApp
                      class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                      type: '->'
                    -
                      file: /www/api/vendor/knuckleswtf/scribe/src/GroupedEndpoints/GroupedEndpointsFromApp.php
                      line: 49
                      function: extractEndpointsInfoAndWriteToDisk
                      class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                      type: '->'
                    -
                      file: /www/api/vendor/knuckleswtf/scribe/src/Commands/GenerateDocumentation.php
                      line: 51
                      function: get
                      class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Container/BoundMethod.php
                      line: 36
                      function: handle
                      class: Knuckles\Scribe\Commands\GenerateDocumentation
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Container/Util.php
                      line: 41
                      function: 'Illuminate\Container\{closure}'
                      class: Illuminate\Container\BoundMethod
                      type: '::'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Container/BoundMethod.php
                      line: 93
                      function: unwrapIfClosure
                      class: Illuminate\Container\Util
                      type: '::'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Container/BoundMethod.php
                      line: 35
                      function: callBoundMethod
                      class: Illuminate\Container\BoundMethod
                      type: '::'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Container/Container.php
                      line: 662
                      function: call
                      class: Illuminate\Container\BoundMethod
                      type: '::'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Console/Command.php
                      line: 211
                      function: call
                      class: Illuminate\Container\Container
                      type: '->'
                    -
                      file: /www/api/vendor/symfony/console/Command/Command.php
                      line: 326
                      function: execute
                      class: Illuminate\Console\Command
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Console/Command.php
                      line: 180
                      function: run
                      class: Symfony\Component\Console\Command\Command
                      type: '->'
                    -
                      file: /www/api/vendor/symfony/console/Application.php
                      line: 1081
                      function: run
                      class: Illuminate\Console\Command
                      type: '->'
                    -
                      file: /www/api/vendor/symfony/console/Application.php
                      line: 320
                      function: doRunCommand
                      class: Symfony\Component\Console\Application
                      type: '->'
                    -
                      file: /www/api/vendor/symfony/console/Application.php
                      line: 174
                      function: doRun
                      class: Symfony\Component\Console\Application
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Foundation/Console/Kernel.php
                      line: 201
                      function: run
                      class: Symfony\Component\Console\Application
                      type: '->'
                    -
                      file: /www/api/artisan
                      line: 35
                      function: handle
                      class: Illuminate\Foundation\Console\Kernel
                      type: '->'
                properties:
                  message:
                    type: string
                    example: 'The requested resource is capable of generating only content not acceptable according to the Accept headers sent in the request.'
                  exception:
                    type: string
                    example: LaravelJsonApi\Laravel\Exceptions\HttpNotAcceptableException
                  file:
                    type: string
                    example: /www/api/vendor/laravel-json-api/laravel/src/Http/Requests/ResourceQuery.php
                  line:
                    type: integer
                    example: 338
                  trace:
                    type: array
                    example:
                      -
                        file: /www/api/vendor/laravel-json-api/laravel/src/Http/Requests/ResourceQuery.php
                        line: 287
                        function: notAcceptable
                        class: LaravelJsonApi\Laravel\Http\Requests\ResourceQuery
                        type: '->'
                      -
                        file: /www/api/vendor/laravel/framework/src/Illuminate/Validation/ValidatesWhenResolvedTrait.php
                        line: 19
                        function: prepareForValidation
                        class: LaravelJsonApi\Laravel\Http\Requests\ResourceQuery
                        type: '->'
                      -
                        file: /www/api/vendor/laravel/framework/src/Illuminate/Foundation/Providers/FormRequestServiceProvider.php
                        line: 30
                        function: validateResolved
                        class: Illuminate\Foundation\Http\FormRequest
                        type: '->'
                      -
                        file: /www/api/vendor/laravel/framework/src/Illuminate/Container/Container.php
                        line: 1302
                        function: 'Illuminate\Foundation\Providers\{closure}'
                        class: Illuminate\Foundation\Providers\FormRequestServiceProvider
                        type: '->'
                      -
                        file: /www/api/vendor/laravel/framework/src/Illuminate/Container/Container.php
                        line: 1266
                        function: fireCallbackArray
                        class: Illuminate\Container\Container
                        type: '->'
                      -
                        file: /www/api/vendor/laravel/framework/src/Illuminate/Container/Container.php
                        line: 1252
                        function: fireAfterResolvingCallbacks
                        class: Illuminate\Container\Container
                        type: '->'
                      -
                        file: /www/api/vendor/laravel/framework/src/Illuminate/Container/Container.php
                        line: 813
                        function: fireResolvingCallbacks
                        class: Illuminate\Container\Container
                        type: '->'
                      -
                        file: /www/api/vendor/laravel/framework/src/Illuminate/Foundation/Application.php
                        line: 933
                        function: resolve
                        class: Illuminate\Container\Container
                        type: '->'
                      -
                        file: /www/api/vendor/laravel/framework/src/Illuminate/Container/Container.php
                        line: 731
                        function: resolve
                        class: Illuminate\Foundation\Application
                        type: '->'
                      -
                        file: /www/api/vendor/laravel/framework/src/Illuminate/Foundation/Application.php
                        line: 918
                        function: make
                        class: Illuminate\Container\Container
                        type: '->'
                      -
                        file: /www/api/vendor/laravel-json-api/laravel/src/Http/Requests/RequestResolver.php
                        line: 111
                        function: make
                        class: Illuminate\Foundation\Application
                        type: '->'
                      -
                        file: /www/api/vendor/laravel-json-api/laravel/src/Http/Requests/ResourceQuery.php
                        line: 84
                        function: __invoke
                        class: LaravelJsonApi\Laravel\Http\Requests\RequestResolver
                        type: '->'
                      -
                        file: /www/api/vendor/laravel-json-api/laravel/src/Http/Controllers/Actions/FetchMany.php
                        line: 41
                        function: queryMany
                        class: LaravelJsonApi\Laravel\Http\Requests\ResourceQuery
                        type: '::'
                      -
                        file: /www/api/vendor/laravel/framework/src/Illuminate/Routing/Controller.php
                        line: 54
                        function: index
                        class: LaravelJsonApi\Laravel\Http\Controllers\JsonApiController
                        type: '->'
                      -
                        file: /www/api/vendor/laravel/framework/src/Illuminate/Routing/ControllerDispatcher.php
                        line: 43
                        function: callAction
                        class: Illuminate\Routing\Controller
                        type: '->'
                      -
                        file: /www/api/vendor/laravel/framework/src/Illuminate/Routing/Route.php
                        line: 259
                        function: dispatch
                        class: Illuminate\Routing\ControllerDispatcher
                        type: '->'
                      -
                        file: /www/api/vendor/laravel/framework/src/Illuminate/Routing/Route.php
                        line: 205
                        function: runController
                        class: Illuminate\Routing\Route
                        type: '->'
                      -
                        file: /www/api/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                        line: 799
                        function: run
                        class: Illuminate\Routing\Route
                        type: '->'
                      -
                        file: /www/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 141
                        function: 'Illuminate\Routing\{closure}'
                        class: Illuminate\Routing\Router
                        type: '->'
                      -
                        file: /www/api/vendor/laravel-json-api/laravel/src/Http/Middleware/BootJsonApi.php
                        line: 105
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /www/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 180
                        function: handle
                        class: LaravelJsonApi\Laravel\Http\Middleware\BootJsonApi
                        type: '->'
                      -
                        file: /www/api/vendor/laravel/framework/src/Illuminate/Routing/Middleware/SubstituteBindings.php
                        line: 50
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /www/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 180
                        function: handle
                        class: Illuminate\Routing\Middleware\SubstituteBindings
                        type: '->'
                      -
                        file: /www/api/vendor/laravel/framework/src/Illuminate/Routing/Middleware/ThrottleRequests.php
                        line: 159
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /www/api/vendor/laravel/framework/src/Illuminate/Routing/Middleware/ThrottleRequests.php
                        line: 90
                        function: handleRequest
                        class: Illuminate\Routing\Middleware\ThrottleRequests
                        type: '->'
                      -
                        file: /www/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 180
                        function: handle
                        class: Illuminate\Routing\Middleware\ThrottleRequests
                        type: '->'
                      -
                        file: /www/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 116
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /www/api/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                        line: 798
                        function: then
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /www/api/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                        line: 777
                        function: runRouteWithinStack
                        class: Illuminate\Routing\Router
                        type: '->'
                      -
                        file: /www/api/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                        line: 741
                        function: runRoute
                        class: Illuminate\Routing\Router
                        type: '->'
                      -
                        file: /www/api/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                        line: 730
                        function: dispatchToRoute
                        class: Illuminate\Routing\Router
                        type: '->'
                      -
                        file: /www/api/vendor/laravel/framework/src/Illuminate/Foundation/Http/Kernel.php
                        line: 200
                        function: dispatch
                        class: Illuminate\Routing\Router
                        type: '->'
                      -
                        file: /www/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 141
                        function: 'Illuminate\Foundation\Http\{closure}'
                        class: Illuminate\Foundation\Http\Kernel
                        type: '->'
                      -
                        file: /www/api/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/TransformsRequest.php
                        line: 21
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /www/api/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/ConvertEmptyStringsToNull.php
                        line: 31
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                        type: '->'
                      -
                        file: /www/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 180
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\ConvertEmptyStringsToNull
                        type: '->'
                      -
                        file: /www/api/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/TransformsRequest.php
                        line: 21
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /www/api/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/TrimStrings.php
                        line: 40
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                        type: '->'
                      -
                        file: /www/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 180
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\TrimStrings
                        type: '->'
                      -
                        file: /www/api/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/ValidatePostSize.php
                        line: 27
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /www/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 180
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\ValidatePostSize
                        type: '->'
                      -
                        file: /www/api/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/PreventRequestsDuringMaintenance.php
                        line: 86
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /www/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 180
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\PreventRequestsDuringMaintenance
                        type: '->'
                      -
                        file: /www/api/vendor/fruitcake/laravel-cors/src/HandleCors.php
                        line: 52
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /www/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 180
                        function: handle
                        class: Fruitcake\Cors\HandleCors
                        type: '->'
                      -
                        file: /www/api/vendor/laravel/framework/src/Illuminate/Http/Middleware/TrustProxies.php
                        line: 39
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /www/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 180
                        function: handle
                        class: Illuminate\Http\Middleware\TrustProxies
                        type: '->'
                      -
                        file: /www/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 116
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /www/api/vendor/laravel/framework/src/Illuminate/Foundation/Http/Kernel.php
                        line: 175
                        function: then
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /www/api/vendor/laravel/framework/src/Illuminate/Foundation/Http/Kernel.php
                        line: 144
                        function: sendRequestThroughRouter
                        class: Illuminate\Foundation\Http\Kernel
                        type: '->'
                      -
                        file: /www/api/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                        line: 299
                        function: handle
                        class: Illuminate\Foundation\Http\Kernel
                        type: '->'
                      -
                        file: /www/api/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                        line: 287
                        function: callLaravelOrLumenRoute
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: /www/api/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                        line: 92
                        function: makeApiCall
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: /www/api/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                        line: 45
                        function: makeResponseCall
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: /www/api/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                        line: 35
                        function: makeResponseCallIfConditionsPass
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: /www/api/vendor/knuckleswtf/scribe/src/Extracting/Extractor.php
                        line: 209
                        function: __invoke
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: /www/api/vendor/knuckleswtf/scribe/src/Extracting/Extractor.php
                        line: 163
                        function: iterateThroughStrategies
                        class: Knuckles\Scribe\Extracting\Extractor
                        type: '->'
                      -
                        file: /www/api/vendor/knuckleswtf/scribe/src/Extracting/Extractor.php
                        line: 95
                        function: fetchResponses
                        class: Knuckles\Scribe\Extracting\Extractor
                        type: '->'
                      -
                        file: /www/api/vendor/knuckleswtf/scribe/src/GroupedEndpoints/GroupedEndpointsFromApp.php
                        line: 124
                        function: processRoute
                        class: Knuckles\Scribe\Extracting\Extractor
                        type: '->'
                      -
                        file: /www/api/vendor/knuckleswtf/scribe/src/GroupedEndpoints/GroupedEndpointsFromApp.php
                        line: 71
                        function: extractEndpointsInfoFromLaravelApp
                        class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                        type: '->'
                      -
                        file: /www/api/vendor/knuckleswtf/scribe/src/GroupedEndpoints/GroupedEndpointsFromApp.php
                        line: 49
                        function: extractEndpointsInfoAndWriteToDisk
                        class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                        type: '->'
                      -
                        file: /www/api/vendor/knuckleswtf/scribe/src/Commands/GenerateDocumentation.php
                        line: 51
                        function: get
                        class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                        type: '->'
                      -
                        file: /www/api/vendor/laravel/framework/src/Illuminate/Container/BoundMethod.php
                        line: 36
                        function: handle
                        class: Knuckles\Scribe\Commands\GenerateDocumentation
                        type: '->'
                      -
                        file: /www/api/vendor/laravel/framework/src/Illuminate/Container/Util.php
                        line: 41
                        function: 'Illuminate\Container\{closure}'
                        class: Illuminate\Container\BoundMethod
                        type: '::'
                      -
                        file: /www/api/vendor/laravel/framework/src/Illuminate/Container/BoundMethod.php
                        line: 93
                        function: unwrapIfClosure
                        class: Illuminate\Container\Util
                        type: '::'
                      -
                        file: /www/api/vendor/laravel/framework/src/Illuminate/Container/BoundMethod.php
                        line: 35
                        function: callBoundMethod
                        class: Illuminate\Container\BoundMethod
                        type: '::'
                      -
                        file: /www/api/vendor/laravel/framework/src/Illuminate/Container/Container.php
                        line: 662
                        function: call
                        class: Illuminate\Container\BoundMethod
                        type: '::'
                      -
                        file: /www/api/vendor/laravel/framework/src/Illuminate/Console/Command.php
                        line: 211
                        function: call
                        class: Illuminate\Container\Container
                        type: '->'
                      -
                        file: /www/api/vendor/symfony/console/Command/Command.php
                        line: 326
                        function: execute
                        class: Illuminate\Console\Command
                        type: '->'
                      -
                        file: /www/api/vendor/laravel/framework/src/Illuminate/Console/Command.php
                        line: 180
                        function: run
                        class: Symfony\Component\Console\Command\Command
                        type: '->'
                      -
                        file: /www/api/vendor/symfony/console/Application.php
                        line: 1081
                        function: run
                        class: Illuminate\Console\Command
                        type: '->'
                      -
                        file: /www/api/vendor/symfony/console/Application.php
                        line: 320
                        function: doRunCommand
                        class: Symfony\Component\Console\Application
                        type: '->'
                      -
                        file: /www/api/vendor/symfony/console/Application.php
                        line: 174
                        function: doRun
                        class: Symfony\Component\Console\Application
                        type: '->'
                      -
                        file: /www/api/vendor/laravel/framework/src/Illuminate/Foundation/Console/Kernel.php
                        line: 201
                        function: run
                        class: Symfony\Component\Console\Application
                        type: '->'
                      -
                        file: /www/api/artisan
                        line: 35
                        function: handle
                        class: Illuminate\Foundation\Console\Kernel
                        type: '->'
                    items:
                      type: object
                      properties:
                        file:
                          type: string
                          example: /www/api/vendor/laravel-json-api/laravel/src/Http/Requests/ResourceQuery.php
                        line:
                          type: integer
                          example: 287
                        function:
                          type: string
                          example: notAcceptable
                        class:
                          type: string
                          example: LaravelJsonApi\Laravel\Http\Requests\ResourceQuery
                        type:
                          type: string
                          example: '->'
      tags:
        - Endpoints
    post:
      summary: 'Create a new resource.'
      operationId: createANewResource
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
  '/api/v1/model-files/{id}':
    get:
      summary: 'Fetch zero to one JSON API resource by id.'
      operationId: fetchZeroToOneJSONAPIResourceById
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
      responses:
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'The route api/v1/model-files/eos could not be found.'
                  exception: Symfony\Component\HttpKernel\Exception\NotFoundHttpException
                  file: /www/api/vendor/laravel/framework/src/Illuminate/Routing/AbstractRouteCollection.php
                  line: 44
                  trace:
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Routing/RouteCollection.php
                      line: 162
                      function: handleMatchedRoute
                      class: Illuminate\Routing\AbstractRouteCollection
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                      line: 754
                      function: match
                      class: Illuminate\Routing\RouteCollection
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                      line: 741
                      function: findRoute
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                      line: 730
                      function: dispatchToRoute
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Foundation/Http/Kernel.php
                      line: 200
                      function: dispatch
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 141
                      function: 'Illuminate\Foundation\Http\{closure}'
                      class: Illuminate\Foundation\Http\Kernel
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/TransformsRequest.php
                      line: 21
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/ConvertEmptyStringsToNull.php
                      line: 31
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 180
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\ConvertEmptyStringsToNull
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/TransformsRequest.php
                      line: 21
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/TrimStrings.php
                      line: 40
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 180
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\TrimStrings
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/ValidatePostSize.php
                      line: 27
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 180
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\ValidatePostSize
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/PreventRequestsDuringMaintenance.php
                      line: 86
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 180
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\PreventRequestsDuringMaintenance
                      type: '->'
                    -
                      file: /www/api/vendor/fruitcake/laravel-cors/src/HandleCors.php
                      line: 52
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 180
                      function: handle
                      class: Fruitcake\Cors\HandleCors
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Http/Middleware/TrustProxies.php
                      line: 39
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 180
                      function: handle
                      class: Illuminate\Http\Middleware\TrustProxies
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 116
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Foundation/Http/Kernel.php
                      line: 175
                      function: then
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Foundation/Http/Kernel.php
                      line: 144
                      function: sendRequestThroughRouter
                      class: Illuminate\Foundation\Http\Kernel
                      type: '->'
                    -
                      file: /www/api/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                      line: 299
                      function: handle
                      class: Illuminate\Foundation\Http\Kernel
                      type: '->'
                    -
                      file: /www/api/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                      line: 287
                      function: callLaravelOrLumenRoute
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: /www/api/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                      line: 92
                      function: makeApiCall
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: /www/api/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                      line: 45
                      function: makeResponseCall
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: /www/api/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                      line: 35
                      function: makeResponseCallIfConditionsPass
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: /www/api/vendor/knuckleswtf/scribe/src/Extracting/Extractor.php
                      line: 209
                      function: __invoke
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: /www/api/vendor/knuckleswtf/scribe/src/Extracting/Extractor.php
                      line: 163
                      function: iterateThroughStrategies
                      class: Knuckles\Scribe\Extracting\Extractor
                      type: '->'
                    -
                      file: /www/api/vendor/knuckleswtf/scribe/src/Extracting/Extractor.php
                      line: 95
                      function: fetchResponses
                      class: Knuckles\Scribe\Extracting\Extractor
                      type: '->'
                    -
                      file: /www/api/vendor/knuckleswtf/scribe/src/GroupedEndpoints/GroupedEndpointsFromApp.php
                      line: 124
                      function: processRoute
                      class: Knuckles\Scribe\Extracting\Extractor
                      type: '->'
                    -
                      file: /www/api/vendor/knuckleswtf/scribe/src/GroupedEndpoints/GroupedEndpointsFromApp.php
                      line: 71
                      function: extractEndpointsInfoFromLaravelApp
                      class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                      type: '->'
                    -
                      file: /www/api/vendor/knuckleswtf/scribe/src/GroupedEndpoints/GroupedEndpointsFromApp.php
                      line: 49
                      function: extractEndpointsInfoAndWriteToDisk
                      class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                      type: '->'
                    -
                      file: /www/api/vendor/knuckleswtf/scribe/src/Commands/GenerateDocumentation.php
                      line: 51
                      function: get
                      class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Container/BoundMethod.php
                      line: 36
                      function: handle
                      class: Knuckles\Scribe\Commands\GenerateDocumentation
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Container/Util.php
                      line: 41
                      function: 'Illuminate\Container\{closure}'
                      class: Illuminate\Container\BoundMethod
                      type: '::'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Container/BoundMethod.php
                      line: 93
                      function: unwrapIfClosure
                      class: Illuminate\Container\Util
                      type: '::'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Container/BoundMethod.php
                      line: 35
                      function: callBoundMethod
                      class: Illuminate\Container\BoundMethod
                      type: '::'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Container/Container.php
                      line: 662
                      function: call
                      class: Illuminate\Container\BoundMethod
                      type: '::'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Console/Command.php
                      line: 211
                      function: call
                      class: Illuminate\Container\Container
                      type: '->'
                    -
                      file: /www/api/vendor/symfony/console/Command/Command.php
                      line: 326
                      function: execute
                      class: Illuminate\Console\Command
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Console/Command.php
                      line: 180
                      function: run
                      class: Symfony\Component\Console\Command\Command
                      type: '->'
                    -
                      file: /www/api/vendor/symfony/console/Application.php
                      line: 1081
                      function: run
                      class: Illuminate\Console\Command
                      type: '->'
                    -
                      file: /www/api/vendor/symfony/console/Application.php
                      line: 320
                      function: doRunCommand
                      class: Symfony\Component\Console\Application
                      type: '->'
                    -
                      file: /www/api/vendor/symfony/console/Application.php
                      line: 174
                      function: doRun
                      class: Symfony\Component\Console\Application
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Foundation/Console/Kernel.php
                      line: 201
                      function: run
                      class: Symfony\Component\Console\Application
                      type: '->'
                    -
                      file: /www/api/artisan
                      line: 35
                      function: handle
                      class: Illuminate\Foundation\Console\Kernel
                      type: '->'
                properties:
                  message:
                    type: string
                    example: 'The route api/v1/model-files/eos could not be found.'
                  exception:
                    type: string
                    example: Symfony\Component\HttpKernel\Exception\NotFoundHttpException
                  file:
                    type: string
                    example: /www/api/vendor/laravel/framework/src/Illuminate/Routing/AbstractRouteCollection.php
                  line:
                    type: integer
                    example: 44
                  trace:
                    type: array
                    example:
                      -
                        file: /www/api/vendor/laravel/framework/src/Illuminate/Routing/RouteCollection.php
                        line: 162
                        function: handleMatchedRoute
                        class: Illuminate\Routing\AbstractRouteCollection
                        type: '->'
                      -
                        file: /www/api/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                        line: 754
                        function: match
                        class: Illuminate\Routing\RouteCollection
                        type: '->'
                      -
                        file: /www/api/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                        line: 741
                        function: findRoute
                        class: Illuminate\Routing\Router
                        type: '->'
                      -
                        file: /www/api/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                        line: 730
                        function: dispatchToRoute
                        class: Illuminate\Routing\Router
                        type: '->'
                      -
                        file: /www/api/vendor/laravel/framework/src/Illuminate/Foundation/Http/Kernel.php
                        line: 200
                        function: dispatch
                        class: Illuminate\Routing\Router
                        type: '->'
                      -
                        file: /www/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 141
                        function: 'Illuminate\Foundation\Http\{closure}'
                        class: Illuminate\Foundation\Http\Kernel
                        type: '->'
                      -
                        file: /www/api/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/TransformsRequest.php
                        line: 21
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /www/api/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/ConvertEmptyStringsToNull.php
                        line: 31
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                        type: '->'
                      -
                        file: /www/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 180
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\ConvertEmptyStringsToNull
                        type: '->'
                      -
                        file: /www/api/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/TransformsRequest.php
                        line: 21
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /www/api/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/TrimStrings.php
                        line: 40
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                        type: '->'
                      -
                        file: /www/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 180
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\TrimStrings
                        type: '->'
                      -
                        file: /www/api/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/ValidatePostSize.php
                        line: 27
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /www/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 180
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\ValidatePostSize
                        type: '->'
                      -
                        file: /www/api/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/PreventRequestsDuringMaintenance.php
                        line: 86
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /www/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 180
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\PreventRequestsDuringMaintenance
                        type: '->'
                      -
                        file: /www/api/vendor/fruitcake/laravel-cors/src/HandleCors.php
                        line: 52
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /www/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 180
                        function: handle
                        class: Fruitcake\Cors\HandleCors
                        type: '->'
                      -
                        file: /www/api/vendor/laravel/framework/src/Illuminate/Http/Middleware/TrustProxies.php
                        line: 39
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /www/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 180
                        function: handle
                        class: Illuminate\Http\Middleware\TrustProxies
                        type: '->'
                      -
                        file: /www/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                        line: 116
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /www/api/vendor/laravel/framework/src/Illuminate/Foundation/Http/Kernel.php
                        line: 175
                        function: then
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: /www/api/vendor/laravel/framework/src/Illuminate/Foundation/Http/Kernel.php
                        line: 144
                        function: sendRequestThroughRouter
                        class: Illuminate\Foundation\Http\Kernel
                        type: '->'
                      -
                        file: /www/api/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                        line: 299
                        function: handle
                        class: Illuminate\Foundation\Http\Kernel
                        type: '->'
                      -
                        file: /www/api/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                        line: 287
                        function: callLaravelOrLumenRoute
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: /www/api/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                        line: 92
                        function: makeApiCall
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: /www/api/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                        line: 45
                        function: makeResponseCall
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: /www/api/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                        line: 35
                        function: makeResponseCallIfConditionsPass
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: /www/api/vendor/knuckleswtf/scribe/src/Extracting/Extractor.php
                        line: 209
                        function: __invoke
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: /www/api/vendor/knuckleswtf/scribe/src/Extracting/Extractor.php
                        line: 163
                        function: iterateThroughStrategies
                        class: Knuckles\Scribe\Extracting\Extractor
                        type: '->'
                      -
                        file: /www/api/vendor/knuckleswtf/scribe/src/Extracting/Extractor.php
                        line: 95
                        function: fetchResponses
                        class: Knuckles\Scribe\Extracting\Extractor
                        type: '->'
                      -
                        file: /www/api/vendor/knuckleswtf/scribe/src/GroupedEndpoints/GroupedEndpointsFromApp.php
                        line: 124
                        function: processRoute
                        class: Knuckles\Scribe\Extracting\Extractor
                        type: '->'
                      -
                        file: /www/api/vendor/knuckleswtf/scribe/src/GroupedEndpoints/GroupedEndpointsFromApp.php
                        line: 71
                        function: extractEndpointsInfoFromLaravelApp
                        class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                        type: '->'
                      -
                        file: /www/api/vendor/knuckleswtf/scribe/src/GroupedEndpoints/GroupedEndpointsFromApp.php
                        line: 49
                        function: extractEndpointsInfoAndWriteToDisk
                        class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                        type: '->'
                      -
                        file: /www/api/vendor/knuckleswtf/scribe/src/Commands/GenerateDocumentation.php
                        line: 51
                        function: get
                        class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                        type: '->'
                      -
                        file: /www/api/vendor/laravel/framework/src/Illuminate/Container/BoundMethod.php
                        line: 36
                        function: handle
                        class: Knuckles\Scribe\Commands\GenerateDocumentation
                        type: '->'
                      -
                        file: /www/api/vendor/laravel/framework/src/Illuminate/Container/Util.php
                        line: 41
                        function: 'Illuminate\Container\{closure}'
                        class: Illuminate\Container\BoundMethod
                        type: '::'
                      -
                        file: /www/api/vendor/laravel/framework/src/Illuminate/Container/BoundMethod.php
                        line: 93
                        function: unwrapIfClosure
                        class: Illuminate\Container\Util
                        type: '::'
                      -
                        file: /www/api/vendor/laravel/framework/src/Illuminate/Container/BoundMethod.php
                        line: 35
                        function: callBoundMethod
                        class: Illuminate\Container\BoundMethod
                        type: '::'
                      -
                        file: /www/api/vendor/laravel/framework/src/Illuminate/Container/Container.php
                        line: 662
                        function: call
                        class: Illuminate\Container\BoundMethod
                        type: '::'
                      -
                        file: /www/api/vendor/laravel/framework/src/Illuminate/Console/Command.php
                        line: 211
                        function: call
                        class: Illuminate\Container\Container
                        type: '->'
                      -
                        file: /www/api/vendor/symfony/console/Command/Command.php
                        line: 326
                        function: execute
                        class: Illuminate\Console\Command
                        type: '->'
                      -
                        file: /www/api/vendor/laravel/framework/src/Illuminate/Console/Command.php
                        line: 180
                        function: run
                        class: Symfony\Component\Console\Command\Command
                        type: '->'
                      -
                        file: /www/api/vendor/symfony/console/Application.php
                        line: 1081
                        function: run
                        class: Illuminate\Console\Command
                        type: '->'
                      -
                        file: /www/api/vendor/symfony/console/Application.php
                        line: 320
                        function: doRunCommand
                        class: Symfony\Component\Console\Application
                        type: '->'
                      -
                        file: /www/api/vendor/symfony/console/Application.php
                        line: 174
                        function: doRun
                        class: Symfony\Component\Console\Application
                        type: '->'
                      -
                        file: /www/api/vendor/laravel/framework/src/Illuminate/Foundation/Console/Kernel.php
                        line: 201
                        function: run
                        class: Symfony\Component\Console\Application
                        type: '->'
                      -
                        file: /www/api/artisan
                        line: 35
                        function: handle
                        class: Illuminate\Foundation\Console\Kernel
                        type: '->'
                    items:
                      type: object
                      properties:
                        file:
                          type: string
                          example: /www/api/vendor/laravel/framework/src/Illuminate/Routing/RouteCollection.php
                        line:
                          type: integer
                          example: 162
                        function:
                          type: string
                          example: handleMatchedRoute
                        class:
                          type: string
                          example: Illuminate\Routing\AbstractRouteCollection
                        type:
                          type: string
                          example: '->'
      tags:
        - Endpoints
    patch:
      summary: 'Update an existing resource.'
      operationId: updateAnExistingResource
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
    delete:
      summary: 'Destroy a resource.'
      operationId: destroyAResource
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
      responses: {  }
      tags:
        - Endpoints
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the model file.'
        example: eos
        required: true
        schema:
          type: string
  /api/v1/video-jobs:
    get:
      summary: 'Fetch zero to many JSON API resources.'
      operationId: fetchZeroToManyJSONAPIResources
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
      responses:
        406:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'The requested resource is capable of generating only content not acceptable according to the Accept headers sent in the request.'
                  exception: LaravelJsonApi\Laravel\Exceptions\HttpNotAcceptableException
                  file: /www/api/vendor/laravel-json-api/laravel/src/Http/Requests/ResourceQuery.php
                  line: 338
                  trace:
                    -
                      file: /www/api/vendor/laravel-json-api/laravel/src/Http/Requests/ResourceQuery.php
                      line: 287
                      function: notAcceptable
                      class: LaravelJsonApi\Laravel\Http\Requests\ResourceQuery
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Validation/ValidatesWhenResolvedTrait.php
                      line: 19
                      function: prepareForValidation
                      class: LaravelJsonApi\Laravel\Http\Requests\ResourceQuery
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Foundation/Providers/FormRequestServiceProvider.php
                      line: 30
                      function: validateResolved
                      class: Illuminate\Foundation\Http\FormRequest
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Container/Container.php
                      line: 1302
                      function: 'Illuminate\Foundation\Providers\{closure}'
                      class: Illuminate\Foundation\Providers\FormRequestServiceProvider
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Container/Container.php
                      line: 1266
                      function: fireCallbackArray
                      class: Illuminate\Container\Container
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Container/Container.php
                      line: 1252
                      function: fireAfterResolvingCallbacks
                      class: Illuminate\Container\Container
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Container/Container.php
                      line: 813
                      function: fireResolvingCallbacks
                      class: Illuminate\Container\Container
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Foundation/Application.php
                      line: 933
                      function: resolve
                      class: Illuminate\Container\Container
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Container/Container.php
                      line: 731
                      function: resolve
                      class: Illuminate\Foundation\Application
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Foundation/Application.php
                      line: 918
                      function: make
                      class: Illuminate\Container\Container
                      type: '->'
                    -
                      file: /www/api/vendor/laravel-json-api/laravel/src/Http/Requests/RequestResolver.php
                      line: 111
                      function: make
                      class: Illuminate\Foundation\Application
                      type: '->'
                    -
                      file: /www/api/vendor/laravel-json-api/laravel/src/Http/Requests/ResourceQuery.php
                      line: 84
                      function: __invoke
                      class: LaravelJsonApi\Laravel\Http\Requests\RequestResolver
                      type: '->'
                    -
                      file: /www/api/vendor/laravel-json-api/laravel/src/Http/Controllers/Actions/FetchMany.php
                      line: 41
                      function: queryMany
                      class: LaravelJsonApi\Laravel\Http\Requests\ResourceQuery
                      type: '::'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Routing/Controller.php
                      line: 54
                      function: index
                      class: App\Http\Controllers\Api\V1\VideojobApiController
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Routing/ControllerDispatcher.php
                      line: 43
                      function: callAction
                      class: Illuminate\Routing\Controller
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Routing/Route.php
                      line: 259
                      function: dispatch
                      class: Illuminate\Routing\ControllerDispatcher
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Routing/Route.php
                      line: 205
                      function: runController
                      class: Illuminate\Routing\Route
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                      line: 799
                      function: run
                      class: Illuminate\Routing\Route
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 141
                      function: 'Illuminate\Routing\{closure}'
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: /www/api/vendor/laravel-json-api/laravel/src/Http/Middleware/BootJsonApi.php
                      line: 105
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 180
                      function: handle
                      class: LaravelJsonApi\Laravel\Http\Middleware\BootJsonApi
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Routing/Middleware/SubstituteBindings.php
                      line: 50
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 180
                      function: handle
                      class: Illuminate\Routing\Middleware\SubstituteBindings
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Routing/Middleware/ThrottleRequests.php
                      line: 159
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Routing/Middleware/ThrottleRequests.php
                      line: 90
                      function: handleRequest
                      class: Illuminate\Routing\Middleware\ThrottleRequests
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 180
                      function: handle
                      class: Illuminate\Routing\Middleware\ThrottleRequests
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 116
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                      line: 798
                      function: then
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                      line: 777
                      function: runRouteWithinStack
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                      line: 741
                      function: runRoute
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Routing/Router.php
                      line: 730
                      function: dispatchToRoute
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Foundation/Http/Kernel.php
                      line: 200
                      function: dispatch
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 141
                      function: 'Illuminate\Foundation\Http\{closure}'
                      class: Illuminate\Foundation\Http\Kernel
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/TransformsRequest.php
                      line: 21
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/ConvertEmptyStringsToNull.php
                      line: 31
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 180
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\ConvertEmptyStringsToNull
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/TransformsRequest.php
                      line: 21
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/TrimStrings.php
                      line: 40
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 180
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\TrimStrings
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/ValidatePostSize.php
                      line: 27
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 180
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\ValidatePostSize
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Foundation/Http/Middleware/PreventRequestsDuringMaintenance.php
                      line: 86
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 180
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\PreventRequestsDuringMaintenance
                      type: '->'
                    -
                      file: /www/api/vendor/fruitcake/laravel-cors/src/HandleCors.php
                      line: 52
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 180
                      function: handle
                      class: Fruitcake\Cors\HandleCors
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Http/Middleware/TrustProxies.php
                      line: 39
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 180
                      function: handle
                      class: Illuminate\Http\Middleware\TrustProxies
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Pipeline/Pipeline.php
                      line: 116
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Foundation/Http/Kernel.php
                      line: 175
                      function: then
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: /www/api/vendor/laravel/framework/src/Illuminate/Foundation/Http/Kernel.php
                      line: 144
                      function: sendRequestThroughRouter
                      class: Illuminate\Foundation\Http\Kernel
                      type: '->'
                    -
                      file: /www/api/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
                      line: 299
                      function: handle
                      class: Illuminate\Foundation\Http\Kernel
                      type: '->'
                    -
                      file: /www/api/vendor/knuckleswtf/scribe/src/Extracting/Strategies/Responses/ResponseCalls.php
[...]
